<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>このWebサービスについて</h1>

      <h2>ご利用上のご注意</h2>
      <p>
        「千葉の労災指定病院を探す」は、
        <%= link_to '千葉労働局', 'http://chiba-roudoukyoku.jsite.mhlw.go.jp/home.html' -%>
        が提供する
        <%= link_to '労災保険指定医療機関等（千葉県内）','http://chiba-roudoukyoku.jsite.mhlw.go.jp/hourei_seido_tetsuzuki/rousai_hoken/hourei_seido/iryou2011.html' -%>
        を元に
        <%= link_to '@seitaro1227','http://github.com/seitaro1227/' -%>
        が提供しています。
      </p>
      <p>データやサービスについて、瑕疵（かし）やバグがないことは保証しておりません。</p>
      <p>また、利用者の方々にはあらかじめ通知することなくサービスの内容や仕様を変更したり、提供を停止したり中止したりする場合がありますがご了承ください。</p>

      <dl>
        <dt>出典</dt>
        <dd>
          <p>「指定医療機関名簿」（<%= link_to 'http://chiba-roudoukyoku.jsite.mhlw.go.jp/hourei_seido_tetsuzuki/rousai_hoken/hourei_seido/iryou2011.html'-%>)
          を <%= link_to '@seitaro1227','http://github.com/seitaro1227/' -%>が加工して作成（2017年02月27日に利用）
          </p>
        </dd>
      </dl>
    </div>
  </div>
</div>