<% index = hospital_counter %>
<li class="list-group-item">
  <a data-toggle="collapse" href="#lg<%= index -%>">
    <% unless hospital.geocoded? %>
        <span class="label label-danger">位置情報なし</span>
    <% end -%>
    <%= hospital.name %>
  </a>
  <div id="lg<%= index -%>" class="panel-collapse collapse">
    <ul>
      <li>診療科目: <%= hospital.orgin_subject %></li>
      <li>住所: <%= hospital.address %></li>
      <li>電話: <%= hospital.phone_number %></li>
      <li>採型:<%= hospital.saikei %></li>
      <li>二次:<%= hospital.niji %></li>
    </ul>
  </div>
</li>