<div>
  <span>監督署: <%= hospital.jurisdiction %></span><br />
  <span>番号: <%= hospital.number %></span><br />
  <span>名称: <%= hospital.name %></span><br />
  <span>〒: <%= hospital.zip_code %></span><br />
  <span>所在地: <%= hospital.address %></span><br />
  <span>診療科目: <%= hospital.subject %></span><br />
  <span>採型: <%= hospital.saikei %></span><br />
  <span>二次: <%= hospital.niji %></span><br />
  <span>電話: <%= hospital.phone_number %></span><br />
</div>