<div class="row">
  <div class="col-md-12">
    <%= form_tag hospitals_path, method:'get' do %>
      <dl>
        <dt>監督署</dt>
        <%= select_tag 'jurisdiction',options_from_collection_for_select(@jurisdictions, :roman, :name, :selected => @jurisdiction_selected) %>
        <dd>
        </dd>
        <dt>診療科目</dt>
        <dd>
          <%= text_field_tag 'subject',params[:subject] %>
        </dd>
        <dt>病院名</dt>
        <dd>
          <%= text_field_tag 'name' ,params[:name]%>
        </dd>
      </dl>
        <button type="submit">検索</button>
    <% end -%>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th>監督署</th>
        <th>番号</th>
        <th>名称</th>
        <th>〒</th>
        <th>所在地</th>
        <th>診療科目</th>
        <th>採型</th>
        <th>二次</th>
        <th>電話</th>
      </tr>
      </thead>
      <tbody>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td><%=hospital.jurisdiction.name %></td>
          <td><%=hospital.number%></td>
          <td>
            <% unless hospital.geocoded?  %>
              <span class="label label-danger">位置情報なし</span>
            <% end -%>
            <%=hospital.name%>
          </td>
          <td><%=hospital.zip_code%></td>
          <td><%=hospital.address%></td>
          <td><%=hospital.subject%></td>
          <td><%=hospital.saikei%></td>
          <td><%=hospital.niji%></td>
          <td><%=hospital.phone_number%></td>
        </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>