<div id="searchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 検索</h4>
      </div>
      <div class="modal-body">
        <div>
          <%= form_tag hospitals_search_path, method: 'get',remote:true do %>
              <div class="row">
                <div class="col-sm-12"><label>出発地点</label></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="radio">
                    <label>
                      <%= radio_button_tag(:location,:geo_location,params[:location] == 'geo_location',{:disabled => params[:geo_location].blank?}) %>
                      現在地から
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="radio">
                    <label>
                      <%= radio_button_tag(:location,:station, params[:location] == 'station' ) %>
                      駅から
                    </label>
                  </div>
                </div>
              </div>
              <%= hidden_field_tag(:geo_location, params[:geo_location]) -%>
              <div class="row">
                <!--<div class="col-sm-6">-->
                <!--<div class="form-group">-->
                <!--<select class="form-control">-->
                <!--<option>路線</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-sm-12">
                  <div class="form-group">
                    <%= select_tag 'station',
                                   options_for_select(@stations.map {|s|
                                     [s.name, s.id, {:'data-latitude' => s.latitude, :'data-longitude' => s.longitude}]
                                   },selected: params[:station]),
                                   class: 'form-control'
                    %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="km">距離</label>
                    <%- @km_options = [%w"1km 2km 3km 5km 10km", %w"1 2 3 5 10"].transpose %>
                    <%= select_tag 'km', options_for_select(@km_options, selected: params[:km]), :include_blank => true, :class => 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="jurisdiction">監督所</label>
                    <%= select_tag 'jurisdiction', options_from_collection_for_select(@jurisdictions, :roman, :name, :selected => @jurisdiction_selected), :class => 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label for="subjects">診療科目</label>
                  <div class="form-group">
                    <%= collection_check_boxes(:subjects, :ids, @subjects, :id, :name, include_hidden: false,:checked => @subject_ids) do |b| %>
                        <%= b.label { b.check_box + b.text } %>
                    <%- end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">病院名</label>
                    <%= text_field_tag 'name', params[:name], :class => 'form-control input-md' %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= button_tag 'update', :type => 'submit', :name => nil, id: 'search_update', :class => 'btn btn-primary',:style=> 'display:none' %>
                    <%= button_tag 'マップを見る',:type => 'button', :name => nil,'data-dismiss' => 'modal', :class => 'btn btn-primary' %>
                  </div>
                </div>
              </div>

          <% end -%>
        </div>
        <div>
          <ul class="list-group" id="search-hospitals">
            <%= render @hospitals %>
            <!--ここをajaxで書き換える-->
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag 'マップを見る',:type => 'button', :name => nil, 'data-dismiss' => 'modal', :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>