<%= render 'header' %>
<div id="searchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">詳細検索</h4>
      </div>
      <div class="modal-body">
        <%= render 'search_modal' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">マップに表示する</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>
<style>
  #map {
    width: 100%; height: 700px;
  }
</style>
<script>
  $(function () {
    <% if @current_location[:result] %>
    // current_location
    center = L.latLng(<%= @current_location[:lat] %>, <%= @current_location[:lng] %>);
    <% elsif not @center_of_gravity.first.nan? %>
    // 重心点
    center = L.latLng(<%= @center_of_gravity.first %>, <%= @center_of_gravity.second %>);
    <% else %>
    // 千葉駅の座標
    var center = L.latLng(35.6129259, 140.1134781);
    <% end %>
    var map = L.map('map').setView(center, 13);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    <% if params[:km].present? %>
      var circle = L.circle(center, {
          color: '#00bbff',
          fillColor: '#00bbff',
          fillOpacity: 0.3,
          radius: <%= params[:km].to_i * 1000 -%>
      }).addTo(map);
      var center_circle = L.circle(center, {
          color: '#0099dd',
          fillColor: '#0099dd',
          fillOpacity: 1,
          radius: 50
      }).addTo(map);
    <% end -%>
    var current_geojson;
    var url = '<%= hospitals_path(:format => :geojson) -%>';
    var data = <%= params.to_json.html_safe -%>;
    $.getJSON(url, data, function (geojson) {
        if(typeof(current_geojson) !== "undefined"){
            current_geojson.remove(map);
        }
        current_geojson = L.geoJson(geojson)
            .bindPopup(function (layer) {
                return layer.feature.properties.name + '<br>' +
                       '住所:'+ layer.feature.properties.address + '<br>' +
                       'TEL:'+ layer.feature.properties.phone_number + '<br>' +
                       '診療科:'+ layer.feature.properties.orgin_subject;
            });
        current_geojson.addTo(map);
    });
  });

</script>